body{
    background-color:  rgb(255, 198, 9);
    background-image: url("111.jpg");
    background-size: 50%; /* Kích thước thu nhỏ ảnh xuống 50% */
    background-repeat: no-repeat;
    /* background-position: center; */
}

#form{
    background-color: rgb(255, 255, 255);
    width:25%;
    border-radius: 4px;
    margin:120px auto;
    padding:50px;
    box-shadow: 10px 10px 5px  rgb(255, 167, 4);
}

#btn{
    color:rgb(255, 255, 255);
    background-color:  rgb(255, 198, 9);
    font-size: large;
    border-radius: 10px;
}

@media screen and (max-width: 570px) {
    #form {
      width: 65%;
      margin-left:none;
      padding:40px;
    }
  }