@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700");
*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}
body{
    display: flex;
}
.sidebar{
    position: sticky;
    top: 0;
    left: 0;
    bottom: 0;
    width: 90px;
    height: 100vh;
    padding: 0 1.7rem;
    color: #fff;
    overflow: hidden;
    transition: all 0.5s linear;
    background: rgba(255, 140, 0, 1);
}
.sidebar:hover{
    width: 240px;
    transition: 0.5s;
}
.logo{
 height: 80px;
 padding: 16px;   
}
.main{
    height: 88%;
    position: relative;
    list-style: none;
    padding: 0;

}
.main li {
    padding: 1rem;
    margin: 8px 0;
    border-radius: 8px;
    transition: all , 0.5s ease-in-out;
}
.main li:hover,
.active{
    background-color: rgb(25, 75, 119);

}
.main a {
   color:#fff;
    font-size: 14px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.main a span {
    overflow: hidden;

}
/* .main a i{
    font-size: 1.2rem;
} */
.logout{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
.main-content{
    position: relative;
    background: #fff;
    width:100% ;
    padding: 0rem;
  
}
.header-wrapper img {
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 50px;
}
.header-title h2 img{
    width: 200px;
    height: 70px;
    cursor:auto;
    border-bottom: 1000px;
}
.header-wrapper{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    flex-wrap: wrap;
    background: rgba(255, 140, 0, 1);
    /* border-radius: 10px; */
    padding: 10px 2rem;
    margin-bottom: 1rem;
}
.header-title{
    color:black;
}
.use--info{
 display: flex; 
 align-items: center;
 gap: 1;  
}

.av{
    padding: 10px;
    
}
.seacher--box{
    background: #fff;
    border-radius: 15px;
    display: flex;
    color: rgb(14, 15, 15);
    align-items: center;
    gap:10px;
}

.tabular-wrapper{
    background-color: #e9e7e7;
    padding: 2rem;
    margin-top: 1rem;
    border-radius: 10px;
    }
    .table-container{
       width: 100%;
    }
    table{
        /* margin: 20px; */
        width: 100%;
        border-collapse: collapse;
    }
    thead{
        /* background: #FFCC33; */
        color: black;
        border: 2px solid black;
       
    }
    th{
        padding: 15px;
        border: 2px solid black;
        text-align: left;
    }
    tbody{
    /* background: #7777; */
    border: 2px solid black;
    
    }
    td{
        border: 2px solid black;
        padding: 15px;
        font-size: 14px;
        color: black;
        text-align: left;
    }
    tr:nth-child(even){
       background: #FFCC33;
    
    }
    tfoot{
        padding :15px;
        color: #FFCC33;
        background-color: #FFCC33;
    }
    .table-container button{
        color: green;
        background: none;
        cursor: pointer;
    }
    .card-detail-anh{
        width: 100%;
        height: auto;
    }
    .amount card-detail-anh{
        width: 262x;
        height: 54px;
        border-radius: 10px;
    
    }
    h3{
        padding: 2rem;
        font-size: 20px;
        margin-right: 10%;
    }
