@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700");
*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}
body{
    display: flex;
}
.sidebar{
    position: sticky;
    top: 0;
    left: 0;
    bottom: 0;
    width: 90px;
    height: 100vh;
    padding: 0 1.7rem;
    color: #fff;
    overflow: hidden;
    transition: all 0.5s linear;
    background: rgba(255, 140, 0, 1);
}
.sidebar:hover{
    width: 240px;
    transition: 0.5s;
}
.logo{
 height: 80px;
 padding: 16px;   
}
.main{
    height: 88%;
    position: relative;
    list-style: none;
    padding: 0;

}
.main li {
    padding: 1rem;
    margin: 8px 0;
    border-radius: 8px;
    transition: all , 0.5s ease-in-out;
}
.main li:hover,
.active{
    background-color: rgb(25, 75, 119);

}
.main a {
   color:#fff;
    font-size: 14px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.main a span {
    overflow: hidden;

}
/* .main a i{
    font-size: 1.2rem;
} */
.logout{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
.main-content{
    position: relative;
    background: #fff;
    width:100% ;
    padding: 0rem;
  
}
.header-wrapper img {
    width: 50px;
    height: 50px;
    /* cursor: pointer; */
    border-radius: 50px;
}
.header-title h2 img{
    width: 200px;
    height: 70px;
    cursor:auto;
    border-bottom: 1000px;
}
.header-wrapper{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    flex-wrap: wrap;
    background: rgba(255, 140, 0, 1);
    /* border-radius: 10px; */
    padding: 10px 2rem;
    margin-bottom: 1rem;
}
.header-title{
    color:black;
}
.use--info{
 display: flex; 
 align-items: center;
 gap: 1;  
}

.av{
    padding: 10px;
    
}
.seacher--box{
    background: #fff;
    border-radius: 15px;
    display: flex;
    color: rgb(14, 15, 15);
    align-items: center;
    gap:10px;
}
.mid{
    /* background-color: 	#DCDCDC; */
    /* float:left; */
    float:right;
    width: 90%;
    height: 900px;
    
    /* width:1331px ; */
}
.mid{
    border: 3px solid black ;
    /* #FFCC33 */
    margin-right:5%;
    margin-bottom: 2%;
}
.left{
float: left;
width: 50%;
height: 400px;
/* background-color: blue; */
}
.right{
    display: flex;
    float: right;
    width: 50%;
    height: 600px;
    /* background-color: gold; */
}
.left table{
    /* background-color: yellowgreen; 
    padding: 1.5rem;
    margin-left:30px;
    font-size: 20px;*/
   padding: 1rem;
   margin-top: 30px;
}
.left input{
    padding: 5px;
    border: 1px solid black;
    width: 450px;
    margin: 10px;
    display: flex;
    align-items: center;
    margin-left: 10px;
}
.left button{
    width: 123px;
    height: 40px;
    background-color: #CC99FF;
    color:black;
    border-radius: 10px;
    cursor: pointer;
}
.left .u{
    margin-left: 60%;
    padding-top: 40px
    
}
label.file-input-label {
    display: inline-block;
    padding: 10px 15px;
    background-color: white;
    color: #111;
    border-radius: 5px;
    cursor: pointer;
    height: 330px;
    width: 280px;
}
input[type="file"] {
    display: none;
}
.preview{
    display: none;
    padding: 2rem;
    text-align: center;
    background-color: #fff;
    position: relative;
    margin: 2rem;
    width: 30rem;
}
 .preview.active{
    display: inline-block;
}
 .preview:hover img{
    transform: scale(.9);
}
 .preview .fa-undo-alt{
    position: absolute;
    top: 1rem;
    left: 1.5rem;
    cursor: pointer;
    transform: scaleX(-1);
    
}
.right table{
    border: 2px solid black;
    
}
.right .khung{
    margin-left: 150px;
    margin-top: -50px;
    height: 401px;
    width: 351px;
}
.khung{
    
}