.ctrang {
    margin-top: 420px;
    display: flex;
    justify-content: center;
}
.ctrang input{
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    margin: 3px;
    font-size: 15px;
}
.ctrang input[type="button"]:hover{
    background-color: rgb(11, 204, 11);
    color: white;
}